body {
    padding-top: 49px;
}

.text-zone {
    overflow: hidden;
    height: 70px;
}

.img-zone {
    height: 42vw;
    /*max-height: 32vw;*/
}

@media (min-width: 992px) {
    .img-zone {
        height: 32vw;
    }
}

.my-card {
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

.my-card:hover {
    .img-hover {
        transform: scale(1.05);
    }
}

.img-hover {
    transition: transform 0.4s ease-in-out;
}
