
.bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.25);
  animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(2) {
  position: relative;
  zoom: 0.45;
  left: -510px;
  top: -300px;
  animation-delay: -4s;
}

.bubble:nth-child(3) {
  position: relative;
  zoom: 0.45;
  top: -730px;
  right: -100px;
  animation-delay: -6s;
}

.bubble:nth-child(4) {
  position: relative;
  zoom: 0.35;
  left: -220px;
  bottom: -200px;
  animation-delay: -3s;
}

.bubble:nth-child(5) {
  position: relative;
  zoom: 0.5;
  left: 10px;
  top: 200px;
  animation-delay: -5s;
}

.bubble:nth-child(6) {
  position: relative;
  zoom: 0.7;
  left: -300px;
  top: -400px;
  animation-delay: -5s;
}
.bubble:nth-child(7) {
  position: relative;
  zoom: 0.6;
  left: -250px;
  top: -1400px;
  animation-delay: -5s;
}
.bubble:nth-child(8) {
  position: relative;
  zoom: 0.9;
  left: -130px;
  top: -1000px;
  animation-delay: -5s;
}

@keyframes animate_4010 {
  0%,100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.bubble::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 80px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble span {
  position: absolute;
  border-radius: 50%;
}

.bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #0fb4ff;
  filter: blur(8px);
}

.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 15px solid #ff4484;
  filter: blur(8px);
}

.bubble span:nth-child(3) {
  inset: 10px;
  border-top: 15px solid #ffeb3b;
  filter: blur(8px);
}

.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #ff4484;
  filter: blur(12px);
}

.bubble span:nth-child(5) {
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(8px);
  transform: rotate(330deg);
}

.btn-cancel {
  --modal-btn-color: rgba(165, 165, 165, 1);
  --modal-btn-hover-color: rgba(255, 255, 255, 0.8);
  --modal-btn-active-color: rgba(255, 255, 255, 1);
  --modal-bg: rgba(0, 0, 0, 0.5);
  --modal-active-bg: rgba(0, 0, 0, 0.2);
  color: var(--modal-btn-color);
  background: var(--modal-bg);
  border: 1px var(--modal-btn-color) solid;
  transition: all 0.1s ease-in;
}

.btn-cancel:hover {
  transform: scale(1.02);
  border: 1px var(--modal-btn-hover-color) solid;
  color: var(--modal-btn-hover-color);
}

.btn-cancel:active {
  border: 1px var(--modal-btn-active-color) solid;
  color: var(--modal-btn-active-color);
  background: var(--modal-active-bg);
}

.blur {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.5;
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
}

.top-40 {
  top: 40%;
}
